{% extends 'base.html' %} {% block content %}

<div class="container" style="margin: auto; min-height: 100vh">
  <div style="margin: 6em">
    <p style="text-align: justify; font-size: 20px">
      Dr. Oluwatosin Oluwadare <br />
      ooluwada@uccs.edu <br />
      719-255-3004 <br />
      Osborne Center for Science and Engineering (OCSE) Building - A-210
      <br />
      University of Colorado at Colorado Springs <br />
      1420 Austin Bluffs Pkwy, Colorado Springs, CO 80918
    </p>
  </div>
</div>

{% endblock %}
